<h2>Module Driven Registration Form</h2><hr>
<div class="container">
<form [formGroup]='addressForm' (ngSubmit)='submitData()'>
    <div class='form-group'>
        <label>Name</label>
        <input type='text' formControlName='Name' class='form-control'>
    </div>
    <div formGroupName="address">
        <div class='form-group'>
            <label>City</label>
            <input type='text' formControlName='city' class='form-control'>
        </div>
        <div class='form-group'>
            <label>Postal Code</label>
            <input type='text' formControlName='postalcode' class='form-control'>
        </div>
    </div>
    <div *ngIf="addressForm.get('Name')?.invalid && addressForm.get('Name')?.touched">
        <div *ngIf="addressForm.get('Name')?.errors?.required" class='text text-danger'>Name is required</div>
        <div *ngIf="addressForm.get('Name')?.errors?.pattern" class='text text-danger'>Invalid Name (It must be letters with (a-z)) </div>
    </div>
    <div *ngIf="addressForm.get('address.city')?.invalid && addressForm.get('address.city')?.touched">
        <div *ngIf="addressForm.get('address.city')?.errors?.required" class='text text-danger'>city is required</div>
        <div *ngIf="addressForm.get('address.city')?.errors?.pattern" class='text text-danger'>Invalid city (It must be letters with (a-z)) </div>
    </div>
    <div *ngIf="addressForm.get('address.postalcode')?.invalid && addressForm.get('address.postalcode')?.touched">
        <div *ngIf="addressForm.get('address.postalcode')?.errors?.required" class='text text-danger'>postalcode is required</div>
        <div *ngIf="addressForm.get('address.postalcode')?.errors?.pattern" class='text text-danger'>Invalid postalcode (It must be b/w 5 to 9) </div>
    </div>
    <br>
    <button [disabled]='!addressForm.valid' type='submit' class='btn btn-success'>Submit</button>
</form>
</div>

